<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- appender configuration -->
    
    <!-- file logging -->
    <appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./log/trace.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="100KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} %m%n"/>
        </layout>
    </appender>

    <!-- console logging -->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} %m%n" />
        </layout>
    </appender>

<!-- examples for logging output of certain classes -->
<!--
    <logger name="org.qedeq.kernel.bo.control.QedeqBoFormalLogicChecker">
        <level value="debug" /> 
    </logger>

    <logger name="org.qedeq.kernel.bo.logic">
        <level value="debug" /> 
    </logger>
-->

    <!-- log level for FileAppender and ConsoleAppender -->
    <root>
        <level value="fatal"/>
        <appender-ref ref="FileAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
    
</log4j:configuration>